/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;

  }

  /* Reset styles for body element */
  body{
    margin: 0 auto;
  }
  
  /* Reset styles for commonly used elements */
  body,
  h1, h2, h3, h4, h5, h6,
  p, ul, ol, li,
  a, button, input, textarea, span {
    font-size: 1rem;
    font-family: Arial, sans-serif;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  

  