@media (min-width: 768px){
    nav a{
        display: inline;
        margin-left: 3px;
        margin-right: 3px;
        width: 32.5vw;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
}