body{
    text-align: center;
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 6px;
    justify-content: space-evenly;
}
section{
    background-color: tan;
}
img{
    padding-bottom: 10px;
}
h1{
    font-size: 3rem;
}
h1, h2, p{
    color: rgb(71, 35, 35);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.birth{
    font-size: 1.1rem;
}
