/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

/* Reset styles for standard page sections */
body{
  margin: 0 auto;
}
  
header{

}

main{

}

footer{

}

/* Reset styles for commonly used elements */
body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
a, button, input, textarea, span {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img, h1, h2, h3, h4, p
{
    margin-left: 2px;
    margin-right: 2px;
}