body{
    width: 500px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
header{
    border-radius: 10px;
    height: 150px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(128, 65, 128);
}
    img{
        width: 100px;
        margin-top: 10px;
        box-shadow: 2px 2px;
        margin-left: 5px;
    }
    header h1{
        grid-column: 2/5;
        margin-block: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 40px;
    }
h2{
border-bottom: solid 1px black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul{
    list-style-position: inside;
}
footer{
    background-color: rgb(128, 65, 128);
    height: 70px;
    border-radius: 10px;
    text-align: center;
}