/* These are my default styles for the base of all website to reset many of the preloaded styles on webpages. */

/* Box sizing border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Typography */
body {
    line-height: 1;
}

/* Remove list style */
ol,
ul {
    list-style: none;
}

/* Remove hyperlinks underline */
a {
    text-decoration: none;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Images */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
